In [1]:
from main import COCODataset
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans

In [3]:
ds = COCODataset('data/train', 'data/annotations.json')

docs = []
for _, ann in ds:
    labels = ds.lenc.inverse_transform(ann['labels'])
    text = ' '.join([k.replace(' ', '_') for k in labels])
    docs.append({'id': ann['id'].item(), 'text': text})

df = pd.DataFrame.from_records(docs)
df.head()

      id                                               text
0   1307                               carrot carrot carrot
1   1355                                 bowl bowl cup bowl
2   3579                                        cup cup cup
3   4579  broccoli broccoli broccoli broccoli broccoli b...
4  10303                  banana banana banana dining_table

In [4]:
vect = CountVectorizer()
X = vect.fit_transform(df['text'].tolist())

In [6]:
km = KMeans().fit(X)
df['label'] = km.labels_

In [7]:
df.head()

      id                                               text  label
0   1307                               carrot carrot carrot      2
1   1355                                 bowl bowl cup bowl      7
2   3579                                        cup cup cup      3
3   4579  broccoli broccoli broccoli broccoli broccoli b...      4
4  10303                  banana banana banana dining_table      1

In [11]:
df[['id', 'label']].to_csv('data/clusters.csv', index=False)