In [1]:
import pandas as pd

In [7]:
files = !ls data/output/coco_random*.csv
df = []
for file in files:
    x = pd.read_csv(file, index_col=0).squeeze('columns')
    df.append(x)

df = pd.concat(df, axis=1)

In [8]:
df

,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91926,0.640000,NaN,0.82,0.64,0.434286,0.616667,NaN,NaN,NaN,NaN,...,NaN,NaN,0.770000,0.870000,NaN,NaN,0.670000,0.700000,0.565,0.490000
247065,0.500000,0.225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.266667,NaN,0.400000,0.400000,0.4000,NaN,NaN,0.125000,0.300,0.400000
391747,0.183333,NaN,0.10,NaN,0.066667,NaN,0.077778,0.183333,NaN,NaN,...,0.150000,0.166667,NaN,0.088889,0.1000,0.066667,NaN,NaN,NaN,NaN
77784,0.400000,NaN,NaN,NaN,NaN,0.194444,0.344444,0.166667,0.216667,NaN,...,0.272222,NaN,NaN,NaN,0.2000,0.280556,NaN,0.158333,NaN,0.188889
464537,0.451136,NaN,NaN,NaN,NaN,NaN,0.440625,NaN,NaN,NaN,...,0.368056,NaN,NaN,NaN,0.4375,NaN,NaN,0.375893,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.433333,0.350000,NaN,...,0.350000,0.333333,NaN,NaN,NaN,NaN,0.300000,0.222222,NaN,0.266667
392947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.800000,0.700000,...,NaN,NaN,NaN,0.625000,NaN,0.533333,0.516667,0.550000,NaN,0.550000
1355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,NaN,0.000000,NaN,0.000000,0.0000,0.000000,0.300000,0.100000,0.000,NaN
382251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.383333,...,0.575000,NaN,0.766667,NaN,NaN,NaN,NaN,0.833333,0.800,0.600000
249086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.516667,...,NaN,0.583333,NaN,NaN,0.3750,0.416667,0.533333,NaN,NaN,NaN

In [16]:
# Image IDs with the least IOUs

df.mean(axis=1).sort_values().head(20).index

Int64Index([411832,  44781, 518685, 455135, 323853, 246725,  30932, 114504,
            107167,  37863,  81177, 246382,   1307, 456936, 558137, 416733,
              1355, 221245, 281970, 311337],
           dtype='int64')